{% load static %}
<!DOCTYPE html>
<html>

    <head>
        {% include "global/head.html" %}
        <title>Suitam</title>
    </head>

    <body>
        {% include "global/header.html" with page_title="Calendar" %}
        <div class="container-default">
            <div class="container-calendar">
                <div class="container-calendar-time">
                    <div class="container-calendar-time-wrapper"><span>0:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>1:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>2:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>3:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>4:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>5:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>6:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>7:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>8:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>9:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>10:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>11:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>12:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>13:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>14:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>15:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>16:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>17:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>18:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>19:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>20:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>21:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>22:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>23:00</span></div>
                </div>
                <div class="container-calendar-events">
                    <div class="container-calendar-guide-wrapper">
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                    </div>
                    {% for day in timetable %}
                    <div class="container-calendar-column">
                        {% for period in day %}
                        <div class="container-calendar-event" data-time="{{ period.startTime.0 }},{{ period.startTime.1 }}" style="background-color: rgba(var(--color-default-blue), .2);">
                            <div class="container-calendar-event-color-wrapper">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-blue));"></div>
                            </div>
                            <div>
                                <span class="container-calendar-event-time">{{ period.startTime.0 }}:{{ period.startTime.1 }} - {{ period.endTime.0 }}:{{ period.endTime.1 }}</span>
                            </div>
                            <div>
                                <div class="container-calendar-event-name-wrapper">
                                    <span class="container-calendar-event-name">{{ period.code }}</span><span class="container-calendar-event-location">{{ period.room }}</span>
                                </div>
                                <span class="container-calendar-event-teacher">{{ period.teacher }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="{% static 'suitam.js' %}"></script>
    </body>

</html>