{% load static %}
<!DOCTYPE html>
<html>

    <head>
        {% include "global/head.html" %}
        <title>Suitam</title>
    </head>

    <body>
        {% include "global/header.html" with page_title="Calendar" %}
        <div class="container-default">
            <div class="container-calendar">
                <div class="container-calendar-time">
                    <div class="container-calendar-time-wrapper"><span>0:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>1:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>2:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>3:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>4:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>5:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>6:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>7:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>8:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>9:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>10:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>11:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>12:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>13:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>14:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>15:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>16:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>17:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>18:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>19:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>20:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>21:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>22:00</span></div>
                    <div class="container-calendar-time-wrapper"><span>23:00</span></div>
                </div>
                <div class="container-calendar-events">
                    <div class="container-calendar-guide-wrapper">
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                        <div class="container-calendar-guide"></div>
                    </div>
                    <div class="container-calendar-columns">
                        <div class="container-calendar-column">
                            <div class="container-calendar-event" id="drag-element-1">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-orange));"></div>
                                <div>
                                    <span class="container-calendar-event-time">08:20 - 09:10</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">Mentor</span>
                                    <span class="container-calendar-event-teacher">Ms. Koutoulogenis</span>
                                </div>
                            </div>
                            <!-- <div class="container-calendar-event">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-yellow));"></div>
                                <div>
                                    <span class="container-calendar-event-time">09:10 - 10:00</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">Religion and Society</span>
                                    <span class="container-calendar-event-teacher">Ms. Mercer</span>
                                </div>
                            </div>
                            <div class="container-calendar-event">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-yellow));"></div>
                                <div>
                                    <span class="container-calendar-event-time">10:00 - 10:50</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">Religion and Society</span>
                                    <span class="container-calendar-event-teacher">Ms. Mercer</span>
                                </div>
                            </div>
                            <div class="container-calendar-event">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-teal));"></div>
                                <div>
                                    <span class="container-calendar-event-time">11:25 - 12:15</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">English</span>
                                    <span class="container-calendar-event-teacher">Ms. Montero</span>
                                </div>
                            </div>
                            <div class="container-calendar-event">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-teal));"></div>
                                <div>
                                    <span class="container-calendar-event-time">12:15 - 13:05</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">English</span>
                                    <span class="container-calendar-event-teacher">Ms. Montero</span>
                                </div>
                            </div>
                            <div class="container-calendar-event">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-purple));"></div>
                                <div>
                                    <span class="container-calendar-event-time">13:40 - 14:30</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">Programming</span>
                                    <span class="container-calendar-event-teacher">Mr. Perry</span>
                                </div>
                            </div>
                            <div class="container-calendar-event">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-purple));"></div>
                                <div>
                                    <span class="container-calendar-event-time">14:30 - 15:20</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">Programming</span>
                                    <span class="container-calendar-event-teacher">Mr. Perry</span>
                                </div>
                            </div>
                        </div>
                        <div class="container-calendar-column">
                            <div class="container-calendar-event">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-orange));"></div>
                                <div>
                                    <span class="container-calendar-event-time">08:20 - 09:10</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">Mentor</span>
                                    <span class="container-calendar-event-teacher">Ms. Koutoulogenis</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="container-calendar-column">
                            <div class="container-calendar-event" id="drag-element-2">
                                <div class="container-calendar-event-color" style="background-color: rgba(var(--color-default-orange));"></div>
                                <div>
                                    <span class="container-calendar-event-time">08:20 - 09:10</span>
                                </div>
                                <div>
                                    <span class="container-calendar-event-name">Mentor</span>
                                    <span class="container-calendar-event-teacher">Ms. Koutoulogenis</span>
                                </div>
                            </div>
                        </div>
                        <div class="container-calendar-column"></div>
                        <div class="container-calendar-column"></div>
                    </div>
                </div>
            </div>
            <!-- {% for class in classes %}
            <span class="class-grid-item-name">{{ class }}</span>
            {% endfor %} -->
            <!-- <div class="class-grid-column">
                <div class="class-grid-row">
                    {% for class in classes|slice:"0:3" %}
                    <div class="class-grid-item">
                        <span class="class-grid-item-upcoming">Today</span>
                        <span class="class-grid-item-name">{{ class.name }}</span>
                    </div>
                    {% endfor %}
                </div>
                <div class="class-grid-row">
                    {% for class in classes|slice:"3:5" %}
                    <div class="class-grid-item">
                        <span class="class-grid-item-upcoming">Today</span>
                        <span class="class-grid-item-name">{{ class.name }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div> -->
        </div>
        <script src="{% static 'suitam.js' %}"></script>
    </body>

</html>