{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include "global/head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'extra.css' %}" />
        <title>Suitam</title>
    </head>
    <body>
        <h1>Color Scheme</h1>
        <div class="container-color-scheme">
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-red));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-orange));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-yellow));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-green));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-mint));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-teal));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-cyan));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-blue));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-indigo));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-purple));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-pink));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-dark-brown));"></div>
        </div>
    </body>
</html>