{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include "global/head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'extra.css' %}" />
        <title>Suitam</title>
    </head>
    <body class="suitam-container-color-scheme">
        <h1 class="text-size-xxlarge text-weight-normal" style="letter-spacing: 0.5px; line-height: 1.2em;">Suitam Color Scheme</h1>
        <h2 class="text-size-large text-weight-normal">Text Examples</h2>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-red));">--color-default-red</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-orange));">--color-default-orange</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-yellow));">--color-default-yellow</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-green));">--color-default-green</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-mint));">--color-default-mint</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-teal));">--color-default-teal</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-cyan));">--color-default-cyan</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-blue));">--color-default-blue</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-indigo));">--color-default-indigo</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-purple));">--color-default-purple</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-pink));">--color-default-pink</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-brown));">--color-default-brown</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-gray));">--color-default-gray</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-gray2));">--color-default-gray2</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-gray3));">--color-default-gray3</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-gray4));">--color-default-gray4</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-gray5));">--color-default-gray5</span>
        <span class="text-size-small color-text-example" style="color: rgb(var(--color-default-gray6));">--color-default-gray6</span>
        <h2 class="text-size-large text-weight-normal">Solid Examples</h2>
        <div class="container-color-scheme">
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-red));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-orange));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-yellow));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-green));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-mint));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-teal));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-cyan));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-blue));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-indigo));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-purple));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-pink));"></div>
            <div class="color-scheme-block" style="background-color: rgb(var(--color-default-brown));"></div>
        </div>
    </body>
</html>