{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include "global/head.html" %}
        <title>Suitam</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form action="/auth/login/" method="post">
            <label for="fname">Username:</label>
            <input type="text" id="fname" name="username"><br><br>
            <label for="lname">Password:</label>
            <input type="password" id="lname" name="password"><br><br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html>