.container-color-scheme {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.suitam-container-color-scheme {
    padding: 30px;
    padding-top: 0;
}

.color-text-example {
    display: block;
}

.color-scheme-block {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}