:root {
    --color-text: #000;
    --color-background: #fff;
}

html {
    font: 400 10px/1.9 Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
}

.suitam-text-size-large {
    font-size: 2.5rem;
}

.suitam-text-size-medium {
    font-size: 1.8rem
}

.suitam-text-size-regular {
    font-size: 1.4rem;
}

.suitam-text-size-small {
    font-size: 1.2rem
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #fff;
        --color-background: #000;
    }
}