:root {
    --color-text: 0, 0, 0;
    --color-background: 246, 246, 246;
    --color-property-opacity: 1;
    --color: rgba(68, 68, 68, var(--color-property-opacity, 1));
    --color-light-red: 255, 59, 48;
    --color-dark-red: 255, 69, 58;
    --color-light-orange: 255, 149, 0;
    --color-dark-orange: 255, 159, 10;
    --color-light-yellow: 255, 204, 0;
    --color-dark-yellow: 255, 214, 10;
    --color-light-green: 52, 199, 89;
    --color-dark-green: 48, 209, 88;
    --color-light-mint: 0, 199, 190;
    --color-dark-mint: 99, 230, 226;
    --color-light-teal: 48, 176, 199;
    --color-dark-teal: 64, 200, 224;
    --color-light-cyan: 50, 173, 230;
    --color-dark-cyan: 100, 210, 255;
    --color-light-blue: 0, 122, 255;
    --color-dark-blue: 10, 132, 255;
    --color-light-indigo: 88, 86, 214;
    --color-dark-indigo: 94, 92, 230;
    --color-light-purple: 175, 82, 222;
    --color-dark-purple: 191, 90, 242;
    --color-light-pink: 255, 45, 85;
    --color-dark-pink: 255, 55, 95;
    --color-light-brown: 162, 132, 94;
    --color-dark-brown: 172, 142, 104;
    --color-light-gray: 142, 142, 147;
    --color-dark-gray: 142, 142, 147;
    --color-light-gray2: 174, 174, 178;
    --color-dark-gray2: 99, 99, 102;
    --color-light-gray3: 199, 199, 204;
    --color-dark-gray3: 72, 72, 74;
    --color-light-gray4: 209, 209, 214;
    --color-dark-gray4: 58, 58, 60;
    --color-light-gray5: 229, 229, 234;
    --color-dark-gray5: 44, 44, 46;
    --color-light-gray6: 242, 242, 247;
    --color-dark-gray6: 28, 28, 30;
    --color-default-red: var(--color-light-red);
    --color-default-orange: var(--color-light-orange);
    --color-default-yellow: var(--color-light-yellow);
    --color-default-green: var(--color-light-green);
    --color-default-mint: var(--color-light-mint);
    --color-default-teal: var(--color-light-teal);
    --color-default-cyan: var(--color-light-cyan);
    --color-default-blue: var(--color-light-blue);
    --color-default-indigo: var(--color-light-indigo);
    --color-default-purple: var(--color-light-purple);
    --color-default-pink: var(--color-light-pink);
    --color-default-brown: var(--color-light-brown);
    --color-default-gray: var(--color-light-gray);
    --color-default-gray2: var(--color-light-gray2);
    --color-default-gray3: var(--color-light-gray3);
    --color-default-gray4: var(--color-light-gray4);
    --color-default-gray5: var(--color-light-gray5);
    --color-default-gray6: var(--color-light-gray6);
}

html {
    font: 400 10px/1.9 Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(var(--color-text));
    background-color: rgb(var(--color-background));
}

body {
    margin: 0;
}

.text-weight-bold {
    font-weight: bold;
}

.text-weight-medium {
    font-weight: 500;
}

.text-weight-normal {
    font-weight: normal;
}

.text-weight-light {
    font-weight: light;
}

.text-size-xxlarge {
    font-size: 4rem;
}

.text-size-xlarge {
    font-size: 3rem;
}

.text-size-large {
    font-size: 2.5rem;
}

.text-size-medium {
    font-size: 1.8rem
}

.text-size-normal {
    font-size: 1.4rem;
}

.text-size-small {
    font-size: 1.2rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* LOGIN PAGE */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.login-container-header,
.login-container form {
    width: 100%;
    max-width: 350px;
}

.login-container-header {
    text-align: center;
    margin-bottom: 1em;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.login-container .form-field-container:last-of-type {
    margin-bottom: 3em;
}

.form-field-container label {
    font-family: inherit;
    font-size: 1.2rem;
    color: rgba(var(--color-text));
    margin-bottom: 5px;
}

.form-field-container input[type=text],
.form-field-container input[type=password] {
    border: 0;
    outline: 0;
    color: rgba(var(--color-text));
    font-family: inherit;
    font-size: 1.5rem;
    background: none;
    border: 1px solid rgb(var(--color-text), .2);
    padding: 13px 15px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border ease-in-out 200ms;
}

.form-field-container input:focus {
    border: 1px solid rgb(var(--color-text), .4);
}

.login-container input[type=submit] {
    border: none;
    outline: 0;
    color: rgba(var(--color-background));
    font-family: inherit;
    font-size: 1.3rem;
    background: rgba(var(--color-text));
    padding: 13px 15px;
    border-radius: 10px;
    width: 100%;
    transition: background-color ease-in-out 500ms;
}

.login-container input[type=submit]:hover {
    background: rgba(var(--color-text), .8);
}

/* END LOGIN PAGE */

/* START HEADER DEFAULT */

.header-default {
    margin: 3rem 2.5rem 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-default-info {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.header-default-page-name {
    letter-spacing: 0.5px;
    line-height: 1.2em;
}

.header-default-page-date {
    margin-right: 1rem;
    color: rgba(var(--color-default-gray));
}

.header-default-profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(var(--color-default-gray3));
}

.header-default-profile-initals {
    font-weight: 400;
    font-size: 2.2em;
}

/* END HEADER DEFAULT */

.class-grid-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.class-grid-column .class-grid-row:nth-child(1) {
    max-width: calc(200px * 3 + 1rem * 2);
}
.class-grid-column .class-grid-row:nth-child(2) {
    max-width: calc(200px * 2 + 1rem * 1);
}

.class-grid-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.class-grid-item {
    border-radius: 8px;
    min-width: 200px;
    min-height: 135px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.class-grid-column .class-grid-row:nth-child(1) .class-grid-item:nth-child(1) {
    background: rgba(var(--color-default-red), .7);
    border-top-left-radius: 40px 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.class-grid-column .class-grid-row:nth-child(1) .class-grid-item:nth-child(2) {
    background: rgba(var(--color-default-yellow), .7);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.class-grid-column .class-grid-row:nth-child(1) .class-grid-item:nth-child(3) {
    background: rgba(var(--color-default-blue), .7);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.class-grid-column .class-grid-row:nth-child(2) .class-grid-item:nth-child(1) {
    background: rgba(var(--color-default-purple), .7);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.class-grid-column .class-grid-row:nth-child(2) .class-grid-item:nth-child(2) {
    background: rgba(var(--color-default-green), .7);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.class-grid-item-name {
    display: block;
    word-break: break-word;
    font-size: 2rem;
    line-height: 1.5em;
    /* line-height: 1.3em; */
    font-weight: normal;
    /* letter-spacing: 0.006em; */
}
.class-grid-item-upcoming {
    font-size: 1.3rem;
    display: block;
}

.container-default {
    margin: 1rem 2.5rem 3rem 2.5rem;
}

.suitam-logo {
    margin-right: 8px;
    max-width: 64px;
    width: 100%;
    fill: rgba(var(--color-text));
    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: 255, 255, 255;
        --color-background: 30, 30, 30;
        /* --color-background: #000; */
        --color-default-red: var(--color-dark-red);
        --color-default-orange: var(--color-dark-orange);
        --color-default-yellow: var(--color-dark-yellow);
        --color-default-green: var(--color-dark-green);
        --color-default-mint: var(--color-dark-mint);
        --color-default-teal: var(--color-dark-teal);
        --color-default-cyan: var(--color-dark-cyan);
        --color-default-blue: var(--color-dark-blue);
        --color-default-indigo: var(--color-dark-indigo);
        --color-default-purple: var(--color-dark-purple);
        --color-default-pink: var(--color-dark-pink);
        --color-default-brown: var(--color-dark-brown);
        --color-default-gray: var(--color-dark-gray);
        --color-default-gray2: var(--color-dark-gray2);
        --color-default-gray3: var(--color-dark-gray3);
        --color-default-gray4: var(--color-dark-gray4);
        --color-default-gray5: var(--color-dark-gray5);
        --color-default-gray6: var(--color-dark-gray6);
    }
}