:root {
    --color-text-light: 0, 0, 0;
    --color-text-dark: 255, 255, 255;
    --color-text: var(--color-text-light);
    --color-background: 246, 246, 246;
    --color-property-opacity: 1;
    --color: rgba(68, 68, 68, var(--color-property-opacity, 1));
    --color-light-red: 255, 59, 48;
    --color-dark-red: 255, 69, 58;
    --color-light-orange: 255, 149, 0;
    --color-dark-orange: 255, 159, 10;
    --color-light-yellow: 255, 204, 0;
    --color-dark-yellow: 255, 214, 10;
    --color-light-green: 52, 199, 89;
    --color-dark-green: 48, 209, 88;
    --color-light-mint: 0, 199, 190;
    --color-dark-mint: 99, 230, 226;
    --color-light-teal: 48, 176, 199;
    --color-dark-teal: 64, 200, 224;
    --color-light-cyan: 50, 173, 230;
    --color-dark-cyan: 100, 210, 255;
    --color-light-blue: 0, 122, 255;
    --color-dark-blue: 10, 132, 255;
    --color-light-indigo: 88, 86, 214;
    --color-dark-indigo: 94, 92, 230;
    --color-light-purple: 175, 82, 222;
    --color-dark-purple: 191, 90, 242;
    --color-light-pink: 255, 45, 85;
    --color-dark-pink: 255, 55, 95;
    --color-light-brown: 162, 132, 94;
    --color-dark-brown: 172, 142, 104;
    --color-light-gray: 142, 142, 147;
    --color-dark-gray: 142, 142, 147;
    --color-light-gray2: 174, 174, 178;
    --color-dark-gray2: 99, 99, 102;
    --color-light-gray3: 199, 199, 204;
    --color-dark-gray3: 72, 72, 74;
    --color-light-gray4: 209, 209, 214;
    --color-dark-gray4: 58, 58, 60;
    --color-light-gray5: 229, 229, 234;
    --color-dark-gray5: 44, 44, 46;
    --color-light-gray6: 242, 242, 247;
    --color-dark-gray6: 28, 28, 30;
    --color-default-red: var(--color-light-red);
    --color-default-orange: var(--color-light-orange);
    --color-default-yellow: var(--color-light-yellow);
    --color-default-green: var(--color-light-green);
    --color-default-mint: var(--color-light-mint);
    --color-default-teal: var(--color-light-teal);
    --color-default-cyan: var(--color-light-cyan);
    --color-default-blue: var(--color-light-blue);
    --color-default-indigo: var(--color-light-indigo);
    --color-default-purple: var(--color-light-purple);
    --color-default-pink: var(--color-light-pink);
    --color-default-brown: var(--color-light-brown);
    --color-default-gray: var(--color-light-gray);
    --color-default-gray2: var(--color-light-gray2);
    --color-default-gray3: var(--color-light-gray3);
    --color-default-gray4: var(--color-light-gray4);
    --color-default-gray5: var(--color-light-gray5);
    --color-default-gray6: var(--color-light-gray6);
}

@font-face {
    font-family: IconLib;
    src: url('/static/font/IconLib-Regular.woff2') format('woff2'),
        url('/static/font/IconLib-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: IconLib;
    src: url('/static/font/IconLib-Bold.woff2') format('woff2'),
        url('/static/font/IconLib-Bold.woff') format('woff');
    font-weight: bold;
}


html {
    font: 400 10px/1.9 Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(var(--color-text));
    background-color: rgb(var(--color-background));
    font-smooth: never;
}

body {
    margin: 0;
}

.text-weight-bold {
    font-weight: bold;
}

.text-weight-medium {
    font-weight: 500;
}

.text-weight-normal {
    font-weight: normal;
}

.text-weight-light {
    font-weight: light;
}

.text-size-xxlarge {
    font-size: 4rem;
}

.text-size-xlarge {
    font-size: 3rem;
}

.text-size-large {
    font-size: 2.5rem;
}

.text-size-medium {
    font-size: 1.8rem
}

.text-size-normal {
    font-size: 1.4rem;
}

.text-size-small {
    font-size: 1.2rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* LOGIN PAGE */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.login-container-header,
.login-container form {
    width: 100%;
    max-width: 350px;
}

.login-container-header {
    text-align: center;
    margin-bottom: 1em;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.login-container .form-field-container:last-of-type {
    margin-bottom: 3em;
}

.form-field-container label {
    font-family: inherit;
    font-size: 1.2rem;
    color: rgba(var(--color-text));
    margin-bottom: 5px;
}

.form-field-container input[type=text],
.form-field-container input[type=password] {
    border: 0;
    outline: 0;
    color: rgba(var(--color-text));
    font-family: inherit;
    font-size: 1.5rem;
    background: none;
    border: 1px solid rgb(var(--color-text), .2);
    padding: 13px 15px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border ease-in-out 200ms;
}

.form-field-container input:focus {
    border: 1px solid rgb(var(--color-text), .4);
}

.login-container input[type=submit],
.button-default {
    border: none;
    outline: 0;
    color: rgba(var(--color-background));
    font-family: inherit;
    font-size: 1.3rem;
    background: rgba(var(--color-text));
    padding: 13px 15px;
    border-radius: 10px;
    width: 100%;
    transition: background-color ease-in-out 500ms;
}

.login-container input[type=submit]:hover {
    background: rgba(var(--color-text), .8);
}

/* END LOGIN PAGE */

/* START HEADER DEFAULT */

.header-default {
    margin: 2rem 2.5rem 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

.header-default-info {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.header-default-page-name {
    letter-spacing: 0.5px;
    line-height: 1.2em;
}

.header-default-page-date {
    margin-right: 1rem;
    color: rgba(var(--color-default-gray));
}

.header-default-profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgba(var(--color-default-gray3));
    z-index: 11;
}

.header-default-profile-initals {
    font-size: 1.8em;
}

.header-default-profile-name {
    font-size: 2.2em;
}

.header-default > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.badge-beta-tester {
    color: rgba(var(--color-default-green));
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    line-height: 1em;
}

.badge-beta-tester span:first-child {
    font-size: 2rem;
}

/* END HEADER DEFAULT */

.container-default {
    margin: 0rem 2.5rem 0rem 2.5rem;
}

.container-calendar {
    position: relative;
    display: flex;
    flex-direction: row;
    --event-height: 108px;
    padding-top: 7px;
    /* height: calc(105px * 5 - 1px); */
    /* overflow: hidden; */
    overflow-y: auto;
    /* height: calc(108px * 6); */
    height: calc(100vh - 14em);
}

.container-calendar-date {
    height: 40px;
    width: 100%;
    display: flex;
}

.container-calendar-date .placeholder-time {
    min-width: 71px;
    height: 100%;
}

.container-calendar-date .day-date {
    width: calc(100% / 5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.container-calendar-date .day-date > span {
    line-height: 1em;
    font-size: 1.6rem;
}
.container-calendar-date .day-date.current .date-number {
    font-size: 2rem;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(var(--color-default-red));
}

.container-calendar-day {
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 9rem);
}

.container-calendar-time {
    /* margin-top: -.8rem; */
    min-width: 70px;
}

.container-calendar-time-wrapper {
    line-height: 1em;
    height: var(--event-height);
    /* height: calc(var(--event-height) - (14px / 2)); */
    /* height: calc(105px - (14px / 2)); */
    font-size: 1.4rem;
    box-sizing: border-box;
    position: relative;
}

.container-calendar-time-wrapper span {
    position: absolute;
    top: calc(1.4rem / -2);
    display: block;
}

.container-calendar-events {
    width: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
}

.container-calendar-event {
    background: rgba(var(--event-color), .1);
    border-radius: 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 7px;
    padding-left: 17px;
    height: calc((50px * 1.8) - 5px);
    /* height: calc(60px * 1.75 - .8rem); */
    /* height: calc(60 * 1.75 - .6rem); */
    /* height -1px (-6px / 2) */
    margin-top: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4px);
    margin-left: calc(4px / 2);
    transition: background .25s ease-in-out;
}

.modal-event-color-preview-event {
    background: rgba(var(--event-color), .1);
    border-radius: 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 7px;
    padding-left: 17px;
    box-sizing: border-box;
    position: relative;
    transition: background .25s ease-in-out;
}

.container-calendar-event.unconfirmed {
    background: repeating-linear-gradient(-45deg,
            rgba(var(--color-text), .2),
            rgba(var(--color-text), .2) 9px,
            rgba(var(--color-text), .1) 9px,
            rgba(var(--color-text), .1) 18px);
}

/* .container-calendar-event-color {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: rgba(var(--color-text), .4);
} */

.modal-event-color-select-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.modal-event-color-select {
    width: 20px;
    height: 20px;
    background: rgba(var(--event-color), .5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-event-color-select .modal-event-color-select-icon {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.modal-event-color-select.selected .modal-event-color-select-icon {
    opacity: 1;
    max-width: 12px;
    max-height: 12px;
    width: 100%;
    height: 100%;
    fill: rgba(var(--color-text));
}

/* .modal-event-color-select:before {

    font-size: 1.6rem;
    font-family: 'IconLib';
    content: "\e003";
    color: black;   
} */

.container-calendar-event-color-wrapper {
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    width: 4px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.modal-event-color {
    margin-top: 2rem;
}

.modal-event-color-preview-event-color-wrapper {
    position: absolute;
    top: 0;
    left: 5px;
    width: 4px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
}

.modal-event-color-preview-event-color {
    height: 100%;
    border-radius: 10px;
    width: 6px;
    vertical-align: middle;
    background: rgba(var(--event-color), .4);
    transition: background .25s ease-in-out;
}

.modal-event-color-preview-details {
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal-event-color-preview {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

.modal-event-color-preview-event-text,
.modal-event-color-preview-event-text2 {
    background: rgba(var(--event-color), .05);
    max-width: 70%;
    height: 20px;
    border-radius: 5px;
    transition: background .25s ease-in-out;
}

.modal-event-color-preview-event-text2 {
    margin-top: 8px;
    max-width: 40%;
    height: 15px;
    border-radius: 5px;
}

.container-calendar-event-color {
    border-radius: 10px;
    height: 100%;
    width: 4px;
    vertical-align: middle;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    background: rgba(var(--event-color));
    transition: background .25s ease-in-out;
}

.container-calendar-event-time {
    display: block;
    font-size: 1.2rem;
}

.container-calendar-event-location {
    /* position: absolute; */
    /* top: 7px; */
    /* right: 7px; */
    display: inline-block;
    font-size: 1.1rem;
    border: 1px solid rgba(var(--color-text));
    /* background: rgba(var(--color-text)); */
    /* color: rgba(var(--color-background)); */
    padding: 2px 7px;
    vertical-align: middle;
    border-radius: 10px;
    /* border-radius: 10px; */
    line-height: 1em;
    margin: 0;
}

.container-calendar-event-name-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.container-calendar-event-name {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: 0.01em;

    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.container-calendar-event-teacher {
    display: block;
    font-size: 1.4rem;
}

.container-calendar-guide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.container-calendar-guide {
    height: var(--event-height);
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px dashed rgba(var(--color-text), .1);
    box-sizing: border-box;
}

.container-calendar-current-time {
    /* height: 10px; */
    /* position: relative; */
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 5;
    color: rgba(var(--color-text-dark));
    /* display: none; */
}

.container-calendar-current-time div:first-child {
    /* min-height: 1.1rem; */
    /* min-width: 1.1rem; */
    /* background: #8e8e8e; */
    /* background: rgb(var(--color-text)); */
    /* border-radius: 50%; */
    border-radius: 5px;
    /* border: 1px solid rgb(var(--color-text)); */
    padding: 3px 6px;
    font-size: 1.4rem;
    line-height: 1em;
    background: rgb(var(--color-default-red));
    /* position: absolute; */
    /* margin-left: -2rem; */
}

.container-calendar-current-time div:last-child {
    height: 2px;
    /* margin-left: -10px; */
    /* background: rgba(var(--color-text), .5); */
    /* background: rgb(var(--color-text)); */
    background: rgb(var(--color-default-red));
    /* width: calc(100% + 2rem); */
    width: 100%;
    /* margin-left: -1.9rem; */
}


.container-calendar-column {
    position: relative;
    display: inline-block;
    /* height: 100%; */
    height: calc(var(--event-height) * 24);
    width: calc(100% / 5);
    border-left: 1px dashed rgba(var(--color-text), .1);
}

.container-calendar-day .container-calendar-column {
    width: 100%;
}

.container-status-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

@keyframes alert-bounce {
    0% {
        transform: translate(0, 0);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, -2rem);
    }
}

@keyframes modal-right-enter {
    0% {
        transform: translate(30rem, 0);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes modal-right-exit {
    0% {
        transform: translate(0, 0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(30rem, 0);
    }
}

.container-status {
    background: rgba(var(--color-default-green), .5);
    color: rgba(var(--color-text-green));
    border-radius: 20px;
    padding: 8px 15px;
    line-height: 1em;
    margin-top: 3rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    opacity: 0;
    /* transform: translate(0, -20px); */
    /* animation: alert-bounce 0s ease-in forwards; */
    animation: alert-bounce 0.5s ease-in forwards;
    /* animation-delay: 1s; */
    /* animation: alert-bounce 0.5s ease-in; */
}

.modal-large.open {
    opacity: 0;
    animation: modal-right-enter 0.25s ease-in-out forwards;
}
.modal-large.close {
    animation: modal-right-exit 0.25s ease-in-out forwards;
}

[data-icon]:before {
    font-family: "IconLib";
}

[data-icon="checkmark"]:before {
    content: "\e003";
}

[data-icon="checkmark.seal"]:before {
    content: "\e004";
}

[data-icon="exclamationmark.octagon"]:before {
    content: "\e005";
}

[data-icon="info.circle.fill"]:before {
    content: "\e006";
}

[data-icon="avatar.shape.1"]:before {
    content: "\e020";
}
[data-icon="avatar.shape.2"]:before {
    content: "\e021";
}
[data-icon="avatar.shape.3"]:before {
    content: "\e022";
}
[data-icon="avatar.shape.4"]:before {
    content: "\e023";
}
[data-icon="avatar.shape.5"]:before {
    content: "\e024";
}
[data-icon="avatar.shape.6"]:before {
    content: "\e025";
}
[data-icon="avatar.shape.7"]:before {
    content: "\e026";
}
[data-icon="avatar.shape.8"]:before {
    content: "\e027";
}
[data-icon="avatar.shape.9"]:before {
    content: "\e028";
}
[data-icon="lock.fill"]:before {
    content: "\e030";
}
[data-icon="backpack"]:before {
    content: "\e031";
}


.container-user-settings-profile-wrapper {
    display: flex;
    gap: 2rem;
}

.container-user-settings-profile {
    border-radius: 3rem;
    padding: 1rem;
    background: rgba(var(--color-default-gray5));
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.container-user-settings-profile-option {
    border-radius: 50%;
    background: rgba(var(--color-text), .2);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgba(var(--color-text), .3); */
}

.container-user-settings-profile > div {
    display: flex;
    gap: 1rem;
}

.container-user-profile-icon::before {
    font-size: 2rem;
    color: rgba(var(--color-text), .4);
}
.container-user-settings-profile-option [data-icon="avatar.shape.4"]::before {
    font-size: 1.5rem;
}
.container-user-settings-profile-option [data-icon="avatar.shape.8"]::before {
    font-size: 2rem;
}

.container-status-icon {
    font-size: 1.6em;
    font-weight: bold;
}

.modal-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modal-large-username,
.modal-event-title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1em;
    display: block;
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.modal-apps {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal-app {
    border-radius: 1.5rem;
    /* border: 1px solid rgba(var(--color-text), .1); */
    background: rgba(var(--color-text), .05);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.modal-app.calendar .modal-app-icon,
.modal-app.overview .modal-app-icon {
    width: 100%;
    height: 100%;
    max-width: 56px;
    max-height: 56px;
    border: 1px solid rgba(var(--color-text), .3);
    /* background: linear-gradient(0deg, rgba(var(--color-text), .02) 0%, rgba(var(--color-text), .05) 100%); */
    padding: 0.5rem 0;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal-app.overview .modal-app-icon-overview {
    font-size: 5rem;
    line-height: 1em;
}

.modal-app.calendar .modal-app-icon-day {
    color: rgba(var(--color-default-red));
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1em;
    margin-bottom: .4rem;
}
.modal-app.calendar .modal-app-icon-date {
    font-size: 2.6rem;
    line-height: 1em;
}
.modal-app-info {
    /* max-width: 200px; */
}
.modal-app-title {
    font-size: 1.6rem;
    display: block;
}
.modal-app-desc {
    font-size: 1.3rem;
    line-height: 1.2em;
    letter-spacing: 0.01em;
}
.modal-user-details {
    margin: 0;
    padding: 0;
}

.modal-large {
    box-sizing: border-box;
    width: 50%;
    max-width: 35rem;
    position: absolute;
    top: 0;
    right: 2.5em;
    /* background: red; */
    background: rgba(var(--color-background));
    /* border: 1px solid rgba(var(--color-text), .5); */
    height: 100%;
    border-radius: 1.5em;
    margin-top: 8em;
    padding: 2rem;
    height: calc(100vh - 8em - 2em);
    z-index: 11;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-action-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

[onclick] {
    cursor: pointer;
}

.button-default {
    text-align: center;
    padding: 0.5rem 3rem;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.modal-action-buttons > a {
    display: inline-block;
}
.modal-action-buttons > a > .button-default,
#modal-event-details .modal-action-buttons .button-default:first-child {
    background: rgba(var(--color-text), .1);
    color: rgba(var(--color-light-text));
}

.modal-action-buttons > * {
    width: 50% !important;
    box-sizing: border-box;
}

.modal-event-teacher {
    line-height: 1.2em;
}


.modal-section-title {
    color: rgba(var(--color-default-gray));
}


/* .container-calendar-events .container-calendar-column:last-child {
    border-right: 1px dashed rgba(var(--color-text), .1);
} */

/* .container-calendar-day {
    display: flex;
    flex-grow: 1;
}

.container-calendar-day-column {
    width: calc(100% / 5);
    height: 100px;
    margin-bottom: 1px solid red;
} */

.suitam-logo {
    margin-right: 8px;
    max-width: 64px;
    width: 100%;
    fill: rgba(var(--color-text));
    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: var(--color-text-dark);
        --color-background: 30, 30, 30;
        --color-default-red: var(--color-dark-red);
        --color-default-orange: var(--color-dark-orange);
        --color-default-yellow: var(--color-dark-yellow);
        --color-default-green: var(--color-dark-green);
        --color-default-mint: var(--color-dark-mint);
        --color-default-teal: var(--color-dark-teal);
        --color-default-cyan: var(--color-dark-cyan);
        --color-default-blue: var(--color-dark-blue);
        --color-default-indigo: var(--color-dark-indigo);
        --color-default-purple: var(--color-dark-purple);
        --color-default-pink: var(--color-dark-pink);
        --color-default-brown: var(--color-dark-brown);
        --color-default-gray: var(--color-dark-gray);
        --color-default-gray2: var(--color-dark-gray2);
        --color-default-gray3: var(--color-dark-gray3);
        --color-default-gray4: var(--color-dark-gray4);
        --color-default-gray5: var(--color-dark-gray5);
        --color-default-gray6: var(--color-dark-gray6);
    }
}